body {
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
}

.main-categories {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.main-categories ul {
    list-style-type: none;
    padding: 0;
}

.main-categories li {
    display: inline-block;
    margin-right: 10px;
}

.category-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.subcategories-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}



.subcategories-container button {
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
}

.videos-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-card {
    margin: 15px;
    text-align: center;
}

.video-card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}
