.e99_51 {
	overflow:hidden;
}
.e99_51 {
	background-color:rgba(255, 255, 255, 1);
	width:3000px;
	height:2000px;
	position:absolute;
}
.logo{
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:52px;
	position:absolute;
	left:30px;
	top:17px;
	font-family:Actor;
	text-align:left;
	font-size:24px;
	letter-spacing:0px;
}
.e99_54 {
	background-color:rgba(202.73082554340363, 223.0668631196022, 226.65561854839325, 1);
	width:3000px;
	height:266px;
	position:absolute;
	left:0px;
	top:61px;
}
.main-text {
	color:rgba(0, 0, 0, 1);
	width:700px;
	height:150px;
	position:absolute;
	left:518px;
	top:200px;
	font-family:Alata;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
	line-height:5px;
}
.e99_58 {
	background-color:rgba(229.4889137148857, 229.4889137148857, 229.4889137148857, 0.7400000095367432);
	width:328px;
	height:31px;
	position:absolute;
	left:550px;
	top:341px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.search-text {
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:38px;
	position:absolute;
	left:580px;
	top:355px;
	font-family:Alata;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:0px;
}
.e99_61 {
	width:25px;
	height:25px;
	position:absolute;
	left:830px;
	top:344px;
	background-image:url(../js/img/search.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.category-buttons {
	width:710px;
	height:69px;
	position:absolute;
	left:450px;
	top:440px;
}
.category-button-1 {
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:96px;
	height:32px;
	position:absolute;
	left:30px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.category-button-2 {
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:96px;
	height:32px;
	position:absolute;
	left:163px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.category-button-5{
	background-color:rgba(202.73082554340363, 223.0668631196022, 226.65561854839325, 1);
	width:96px;
	height:32px;
	position:absolute;
	left:296px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.category-text-1 {
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:322px;
	top:32px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.category-button-3{
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:96px;
	height:32px;
	position:absolute;
	left:429px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.category-button-4{
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:96px;
	height:32px;
	position:absolute;
	left:562px;
	top:28px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.category-text-2 {
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:24px;
	position:absolute;
	left:193px;
	top:32px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.category-text-3{
	color:rgba(0, 0, 0, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:56px;
	top:32px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.category-text-4{
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:24px;
	position:absolute;
	left:456px;
	top:32px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.category-text-5 {
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:24px;
	position:absolute;
	left:586px;
	top:32px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.image-container-1 {
	width:303px;
	height:194px;
	position:absolute;
	left:280px;
	top:607px;
	background-image:url(../js/img/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.image-container-2{
	width:318px;
	height:194px;
	position:absolute;
	left:600px;
	top:607px;
	background-image:url(../js/img/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.image-container-3{
	width:300px;
	height:196px;
	position:absolute;
	left:930px;
	top:605px;
	background-image:url(../js/img/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.image-container-4 {
	width:200px;
	height:172px;
	position:absolute;
	left:130px;
	top:108px;
	background-image:url(../js/img/laptop.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e147_58 {
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:40px;
	position:absolute;
	left:1250px;
	top:790px;
	font-family:Akaya Kanadaka;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:5px;
}
.sub-category-buttons {
	width:824px;
	height:62px;
	position:absolute;
	left:400px;
	top:525px;
}
.sub-category-button-1 {
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:87px;
	height:24px;
	position:absolute;
	left:251px;
	top:13px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.sub-category-button-2{
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:87px;
	height:24px;
	position:absolute;
	left:135px;
	top:13px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.sub-category-button-3{
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:87px;
	height:24px;
	position:absolute;
	left:18px;
	top:13px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.sub-category-button-4 {
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:87px;
	height:24px;
	position:absolute;
	left:366px;
	top:13px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.sub-category-button-5{
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:87px;
	height:24px;
	position:absolute;
	left:481px;
	top:13px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.sub-category-button-6 {
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:87px;
	height:24px;
	position:absolute;
	left:596px;
	top:13px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.sub-category-button-7 {
	background-color:rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
	width:87px;
	height:24px;
	position:absolute;
	left:711px;
	top:13px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.sub-category-text-1 {
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:47px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.sub-category-text-2 {
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:163px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.sub-category-text-3{
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:279px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.sub-category-text-4{
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:395px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.sub-category-text-5 {
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:511px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.sub-category-text-6{
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:627px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.sub-category-text-7{
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:743px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e163_43 {
	color:rgba(0, 0, 0, 1);
	width:750px;
	height:39px;
	position:absolute;
	left:450px;
	top:396px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
