/* .login-container: 전체 로그인 박스 */
.login-container {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 1024px;
    position: absolute;
}

/* .logo: 상단 로고 텍스트 */
.logo {
    color: rgba(0, 0, 0, 1);
    width: 214px;
    height: 52px;
    position: absolute;
    left: 47px;
    top: 38px;
    font-family: Actor;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0px;
}

/* .login-title: 로그인 제목 텍스트 */
.login-main-text {
    color: rgba(0, 0, 0, 1);
    width: 160px;
    height: 58px;
    position: absolute;
    left: 800px;
    top: 225px;
    font-family: Actor;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0px;
}

/* .label-username: 아이디 라벨 */
.label-username {
    color: rgba(0, 0, 0, 1);
    width: 120px;
    height: 38px;
    position: absolute;
    left: 550px;
    top: 379px;
    font-family: Actor;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0px;
}

/* .label-password: 비밀번호 라벨 */
.label-password {
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: 38px;
    position: absolute;
    left: 530px;
    top: 478px;
    font-family: Actor;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0px;
}

/* .input-username: 아이디 입력 필드 */
.input-username {
    background-color: rgb(214, 214, 214);
    width: 414px;
    height: 41px;
    position: absolute;
    left: 700px;
    top: 376px;
    border-radius: 5px;
}

/* .input-password: 비밀번호 입력 필드 */
.input-password {
    background-color: rgb(213, 213, 213);
    width: 414px;
    height: 41px;
    position: absolute;
    left: 700px;
    top: 478px;
    border-radius: 5px;
}

/* .forgot-password: 비밀번호 찾기 텍스트 */
.forgot-password {
    color: rgba(0, 0, 0, 1);
    width: 110px;
    height: 19px;
    position: absolute;
    left: 1030px;
    top: 570px;
    font-family: Actor;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
}

/* .login-button: 로그인 버튼 */
.login-button {
    background-color: rgba(202, 223, 226, 1);
    width: 218px;
    height: 35px;
    position: absolute;
    left: 800px;
    top: 600px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
    cursor: pointer;
}

/* .login-button 스타일을 새로 추가하여 더 나은 디자인을 유지 */
