.e68_18 {
  overflow:hidden;
}
.e68_18 {
  background-color:rgba(255, 255, 255, 1);
  width:1280px;
  height:832px;
  position:absolute;
}
.e68_19 {
  color:rgba(0, 0, 0, 1);
  width:214px;
  height:52px;
  position:absolute;
  left:36px;
  top:27px;
  font-family:Actor;
  text-align:left;
  font-size:24px;
  letter-spacing:0px;
}
.e68_21 {
  color:rgba(0, 0, 0, 1);
  width:269px;
  height:58px;
  position:absolute;
  left:700px;
  top:66px;
  font-family:Actor;
  text-align:center;
  font-size:48px;
  letter-spacing:5px;
}
.e68_23 {
  color:rgba(0, 0, 0, 1);
  width:374px;
  height:24px;
  position:absolute;
  left:650px;
  top:153px;
  font-family:Actor;
  text-align:center;
  font-size:20px;
  letter-spacing:0px;
}
.e68_41 {
  background-color:rgba(240.1139035820961, 240.1139035820961, 240.1139035820961, 1);
  width:34px;
  height:33px;
  position:absolute;
  left:450px;
  top:572px;
}
.e68_41 {
  border:1px solid rgba(207.53062158823013, 202.91879385709763, 202.91879385709763, 1);
}
.e68_43 {
  color:rgba(0, 0, 0, 1);
  width:700px;
  height:22px;
  position:absolute;
  left:500px;
  top:580px;
  font-family:Kanit;
  text-align:left;
  font-size:15px;
  letter-spacing:0;
}
.e가입하기버튼배경_45 {
  background-color:rgba(202.73082554340363, 223.0668631196022, 226.65561854839325, 1);
  width:148px;
  height:32px;
  position:absolute;
  left:700px;
  top:650px;
}
.e가입하기_47 {
  color:rgba(0, 0, 0, 1);
  width:70px;
  height:22px;
  position:absolute;
  left:745px;
  top:655px;
  font-family:Kanit;
  text-align:center;
  font-size:15px;
  letter-spacing:0;
}
.e69_50 {
  color:rgba(0, 0, 0, 1);
  width:60px;
  height:24px;
  position:absolute;
  left:700px;
  top:231px;
  font-family:Actor;
  text-align:center;
  font-size:18px;
  letter-spacing:5px;
}
.e69_51 {
  color:rgba(0, 0, 0, 1);
  width:60px;
  height:20px;
  position:absolute;
  left:700px;
  top:283px;
  font-family:Actor;
  text-align:center;
  font-size:18px;
  letter-spacing:0px;
}
.e69_52 {
  color:rgba(0, 0, 0, 1);
  width:90px;
  height:24px;
  position:absolute;
  left:680px;
  top:335px;
  font-family:Actor;
  text-align:center;
  font-size:18px;
  letter-spacing:0px;
}
.e69_53 {
  color:rgba(0, 0, 0, 1);
  width:200px;
  height:24px;
  position:absolute;
  left:630px;
  top:387px;
  font-family:Actor;
  text-align:center;
  font-size:17px;
  letter-spacing:0px;
}
.e69_55 {
  color:rgba(0, 0, 0, 1);
  width:150px;
  height:24px;
  position:absolute;
  left:650px;
  top:443px;
  font-family:Actor;
  text-align:center;
  font-size:17px;
  letter-spacing:0px;
}
.e69_57 {
  background-color:rgba(240.1139035820961, 240.1139035820961, 240.1139035820961, 1);
  width:275px;
  height:32px;
  position:absolute;
  left:800px;
  top:231px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.e69_57 {
  border:1px solid rgba(200.44726967811584, 185.97048729658127, 185.97048729658127, 1);
}
.e69_58 {
  background-color:rgba(240.1139035820961, 240.1139035820961, 240.1139035820961, 1);
  width:275px;
  height:32px;
  position:absolute;
  left: 800px;
  top:283px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.e69_58 {
  border:1px solid rgba(200.44726967811584, 185.97048729658127, 185.97048729658127, 1);
}
.e69_59 {
  background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
  width:275px;
  height:32px;
  position:absolute;
  left:800px;
  top:335px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.e69_59 {
  border:1px solid rgba(200.44726967811584, 185.97048729658127, 185.97048729658127, 1);
}
.e69_60 {
  background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
  width:275px;
  height:32px;
  position:absolute;
  left:800px;
  top:387px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.e69_60 {
  border:1px solid rgba(200.44726967811584, 185.97048729658127, 185.97048729658127, 1);
}
.e69_61 {
  background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
  width:275px;
  height:32px;
  position:absolute;
  left:800px;
  top:439px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.e69_61 {
  border:1px solid rgba(200.44726967811584, 185.97048729658127, 185.97048729658127, 1);
}
