<!-- 데이터 전달 후에 동적 네비게이션 생성 완료 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Follower</title>
    <link rel="stylesheet" href="/css/BeforeAnalysisPageCss.css">
    <link href="https://fonts.googleapis.com/css?family=Actor&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrap">
    <span class="logo">personal follower</span>
    <div class="main_sign">
        <div class="sign_img"></div>
        <span class="sign_text"><span class="user_id">jyooung</span>님의 관심 카테고리를 분석해봐요!</span>
    </div>
    <div class="cate_massage_container">
        <div class="cate_message">아직 분석한 카테고리가 없습니다</div>
    </div>
    <div class="start-analysis-btn" onclick="goToNextPage()" style="cursor:pointer;">분석 시작하기</div>

</div>

<!-- 자바스크립트 -->
<script th:inline="javascript">

</script>

</body>
</html>