<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카테고리 네비게이션</title>
    <link rel="stylesheet" href="/css/cateNavi.css">
</head>
<body>

<div class="navbar">
    <!-- 상위 카테고리 -->
    <div class="main-categories">
        <ul>
            <li th:each="category : ${categories}">
                <button class="category-btn" th:text="${category.mainCategory}" th:id="${category.mainCategory}" onclick="toggleSubCategories('${category.mainCategory}')"></button>
            </li>
        </ul>
    </div>

    <!-- 하위 카테고리들 -->
    <div class="subcategories-container">
        <div th:each="category : ${categories}" th:id="'subcategories-' + ${category.mainCategory}" class="subcategories" style="display:none;">
            <ul>
                <li th:each="subCategory : ${category.subCategories}">
                    <button th:text="${subCategory.subCategory}" onclick="toggleVideos('${category.mainCategory}', '${subCategory.subCategory}')"></button>
                </li>
            </ul>
        </div>
    </div>

    <!-- 컨텐츠들 -->
    <div class="videos-container">
        <div th:each="category : ${categories}">
            <div th:each="subCategory : ${category.subCategories}" th:id="'videos-' + ${category.mainCategory} + '-' + ${subCategory.subCategory}" class="videos" style="display:none;">
                <div th:each="video : ${subCategory.videos}">
                    <div class="video-card">
                        <a th:href="${video.url}">
                            <img th:src="${video.thumbnail}" alt="Thumbnail">
                            <p th:text="${video.title}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleSubCategories(mainCategory) {
        let subCategoriesDiv = document.getElementById('subcategories-' + mainCategory);
        subCategoriesDiv.style.display = (subCategoriesDiv.style.display === "none" || subCategoriesDiv.style.display === "") ? "block" : "none";
    }

    function toggleVideos(mainCategory, subCategory) {
        let videosDiv = document.getElementById('videos-' + mainCategory + '-' + subCategory);
        videosDiv.style.display = (videosDiv.style.display === "none" || videosDiv.style.display === "") ? "block" : "none";
    }

</script>
</body>
</html>
