<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/LoadingPage.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="loading-container">
  <span class="top-logo">personal follower</span>
  <span class="loading-text">jyooung 님의 디지털 라이프를 분석하고 있어요</span>
</div>
<div class="loading-spinner">
  <div></div><div></div><div></div><div></div>
  <div></div><div></div><div></div><div></div>
</div>
</body>
</html>
