<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Actor&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../../../../../Users/LG/Downloads/untitled%20(4)/untitled/css/분석전화면.css">
  <script>
    function goToNextPage() {
      window.location.href = '분석로딩화면.html'; // 이동할 페이지 주소
    }
  </script>
</head>

<body>
<div class="container">
  <span class="top-logo">personal follower</span>
  <div class="top-section"></div>
  <span class="main-text">juhee님의 관심 카테고리를 분석해봐요!</span>
  <div class="icon-section"></div>
  <span class="sub-text">아직 분석한 카테고리가 없습니다.</span>
  <div class="button-section"></div>
  <span class="start-analysis-btn" onclick="goToNextPage()" style="cursor:pointer;">분석 시작하기</span>
</div>
</body>
</html>
